body {
	background-image: url(../assets/logo.webp);
	background-size: 110%;
	background-repeat: no-repeat;
	background-position: 0%;
	backdrop-filter: blur(8px);
}

.wrapper {
	color: white;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 60px;
	height: 95vh;
}

.about {
	margin-left: 20vh;
	margin-right: 10vh;
	padding: 20px;
	border-radius: 10px;
	font-size: 1.4em;
	font-family: Rubik;
	line-height: 30px;
	background: linear-gradient(270deg, transparent 1%, black 50%, black 99%, rgb(255, 0, 0) 100%);
}

.about:nth-child(even) {
	background: linear-gradient(90deg, transparent 1%, black 50%, black 99%, rgb(255, 0, 0) 100%);
}


@media (max-width: 40rem) {
	body {
		background-size: 250%;
		backdrop-filter: blur(5px);
	}

	section {
		height: 120vh;
	}

	.wrapper {
		gap: 20px;
	}

	.about {
		font-size: 1.4em;
		margin-right: 1vh;
		margin-left: 1vh;
		background: linear-gradient(270deg, transparent 1%, black 90%, black 99%, rgb(255, 0, 0) 100%);
	}

	.about:nth-child(even) {
		background: linear-gradient(90deg, transparent 1%, black 90%, black 99%, rgb(255, 0, 0) 100%);
	}
}

@media (max-height: 50rem) and (max-width: 40rem) {
	.about {
		font-size: 1em;
	}
}